<nav>
  <div class="jumbotron">

<h1 align="center">Dumb Yelp</h1>
</div>
<div class="page-header">
 <% if current_user %>
      Signed in as <%= current_user.username %> | <%= link_to "Logout", '/logout' %>
    <% else %>
      <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
    <% end %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
</nav>